* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-color:#efeeee;
    font-family: Arial, Helvetica, sans-serif;    
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #efeeee;
    box-shadow: -8px -8px 16px #cbcaca,
    8px 8px 16px #ffffff;
    padding: 0.8rem;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items:center;
}



#value { 
    font-size: 2.5rem;
    padding: 2rem 0;
}

.btn {
    border:2px solid #222;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    transition:0.3s;
}

.btn:hover {
    transition:0.3s;
    cursor: pointer;
}

.decrease:hover {
    border:2px solid rgb(180, 32, 32);
    color:rgb(255, 20, 20);
}
.reset:hover {
    border:2px solid rgb(15, 132, 148);
    color:rgb(46, 170, 170);
}
.increase:hover {
    border:2px solid rgb(32, 180, 81);
    color:rgb(53, 184, 36);
}